html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fcfcfc;
}

.header {
  background: url("images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 100vh;
}

.header .hero .left-side {
  margin-top: 8rem;
}

.header .hero .left-side h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 7rem;
  margin-bottom: 1rem;
}

.header .hero .left-side p {
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 3rem;
  padding-bottom: 1rem;
}

.header .hero .left-side .download {
  background: #ff8f9f;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.header .hero .left-side .watch {
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.header .menuToggle {
  background: transparent;
  color: #fff;
  font-size: 2rem;
  border: none;
}

.header .menu-area {
  background: #000;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header .menu-area .menuClose {
  position: fixed;
  top: 5%;
  right: 5%;
  background: transparent;
  color: #fff;
  padding: 0.3rem 0.7rem;
  font-size: 2rem;
  border: none;
}

.header .menu-area ul li {
  list-style: none;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.header .menu-area ul li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .menu-area ul li a:hover {
  color: #7358e9;
}

.features {
  padding: 5rem;
  margin-top: 5rem;
}

.features .f-box {
  background: #fff;
  padding: 2rem 4rem;
  margin: 1rem 3rem;
  -webkit-box-shadow: 0 0 5px #e9e8e8;
          box-shadow: 0 0 5px #e9e8e8;
}

.features .f-box i {
  font-size: 3rem;
}

.features .f-box .icon-box-1,
.features .f-box .icon-box-2,
.features .f-box .icon-box-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 1.5rem;
}

.features .f-box .icon-box-1 {
  background: #ffdee1;
  color: #ff5967;
}

.features .f-box .icon-box-2 {
  background: #dad6ff;
  color: #5f50ff;
}

.features .f-box .icon-box-3 {
  background: #ffd6c8;
  color: #ff6835;
}

.features .f-box h3 {
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
}

.features .f-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.feature-2 {
  padding: 5rem;
}

.feature-2 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-2 .box-left img {
  max-width: 100%;
  height: auto;
}

.feature-2 .box-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-2 .box-right img {
  width: 17%;
  height: auto;
}

.feature-2 .box-right h2 {
  font-size: 6rem;
  line-height: 6rem;
}

.feature-2 .box-right p {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  line-height: 3rem;
}

.feature-2 .box-right ul {
  padding: 0;
}

.feature-2 .box-right ul li {
  font-size: 1.8rem;
  line-height: 4.8rem;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

.feature-2 .box-right ul li i {
  font-size: 1rem;
  color: #ff8f9f;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.feature-2 .box-right .btn-learn-more {
  background: #ff8f9f;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.feature-3 {
  padding: 5rem;
}

.feature-3 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-3 .box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-3 .box-right img {
  max-width: 50%;
  height: auto;
}

.feature-3 .box-left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-3 .box-left img {
  width: 17%;
  height: auto;
}

.feature-3 .box-left h2 {
  font-size: 6rem;
  line-height: 6rem;
}

.feature-3 .box-left p {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.feature-3 .box-left .app-features i {
  font-size: 3rem;
}

.feature-3 .box-left .app-features .icon-box-1,
.feature-3 .box-left .app-features .icon-box-2,
.feature-3 .box-left .app-features .icon-box-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 1.5rem;
}

.feature-3 .box-left .app-features .icon-box-1 {
  background: #ffdee1;
  color: #ff5967;
}

.feature-3 .box-left .app-features .icon-box-2 {
  background: #dad6ff;
  color: #5f50ff;
}

.feature-3 .box-left .app-features .icon-box-3 {
  background: #ffd6c8;
  color: #ff6835;
}

.feature-3 .box-left .app-features .row .col-auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-3 .box-left .app-features .row h5 {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.get-app {
  background: url("images/bg-foot-2.png");
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get-app .box h2 {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2rem;
}

.get-app .box p {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  line-height: 3rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.get-app .box .btn {
  background: #ff8f9f;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */