$color1: #7358e9;
$color2: #ffffff;
$section-padding: 5rem;
$roboto: "Roboto", sans-serif;
$poppins: "Poppins", sans-serif;
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fcfcfc;
}
// ============== //
// header section //
// ============== //
.header {
  background: url("images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 100vh;
  .hero {
    .left-side {
      margin-top: 8rem;
      h1 {
        color: $color2;
        font-weight: 700;
        font-size: 7rem;
        margin-bottom: 1rem;
      }
      p {
        color: $color2;
        font-size: 1.8rem;
        line-height: 3rem;
        padding-bottom: 1rem;
      }
      .download {
        background: #ff8f9f;
        color: $color2;
        padding: 1rem 2rem;
        font-size: 1.8rem;
        font-weight: 500;
      }
      .watch {
        color: $color2;
        padding: 1rem 2rem;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
  }
  // menu button
  .menuToggle {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    border: none;
  }
  // on click menu
  .menu-area {
    background: #000;
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    transition-delay: 1s;
    transition: 1s all ease;
    .menuClose {
      position: fixed;
      top: 5%;
      right: 5%;
      background: transparent;
      color: #fff;
      padding: 0.3rem 0.7rem;
      font-size: 2rem;
      border: none;
    }
    ul {
      li {
        list-style: none;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        a {
          color: #fff;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            color: $color1;
          }
        }
      }
    }
  }
}

// ================ //
// features section //
// ================ //

// features box
.features {
  padding: $section-padding;
  margin-top: 5rem;
  // features box
  .f-box {
    background: #fff;
    padding: 2rem 4rem;
    margin: 1rem 3rem;
    box-shadow: 0 0 5px #e9e8e8;
    i {
      font-size: 3rem;
    }
    .icon-box-1,
    .icon-box-2,
    .icon-box-3 {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 1.5rem;
    }
    .icon-box-1 {
      background: #ffdee1;
      color: #ff5967;
    }
    .icon-box-2 {
      background: #dad6ff;
      color: #5f50ff;
    }
    .icon-box-3 {
      background: #ffd6c8;
      color: #ff6835;
    }
    h3 {
      font-size: 2.4rem;
      font-family: $poppins;
      margin-bottom: 1.5rem;
    }
    p {
      font-family: $poppins;
      font-size: 1.6rem;
    }
  }
}

// ========== //
// feature-2 //
// ========== //
.feature-2 {
  padding: $section-padding;
  .box {
    display: flex;
    align-items: center;
  }
  .box-left {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .box-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    img {
      width: 17%;
      height: auto;
    }
    h2 {
      font-size: 6rem;
      line-height: 6rem;
    }
    p {
      font-size: 1.8rem;
      font-family: $poppins;
      line-height: 3rem;
    }
    ul {
      padding: 0;
      li {
        font-size: 1.8rem;
        line-height: 4.8rem;
        list-style-type: none;
        font-family: $poppins;
        i {
          font-size: 1rem;
          color: #ff8f9f;
          margin-right: 0.5rem;
          vertical-align: middle;
        }
      }
    }
    .btn-learn-more {
      background: #ff8f9f;
      color: $color2;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}

// ========== //
// feature-3 //
// ========== //
.feature-3 {
  padding: $section-padding;
  .box {
    display: flex;
    align-items: center;
  }
  .box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 50%;
      height: auto;
    }
  }
  .box-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    img {
      width: 17%;
      height: auto;
    }
    h2 {
      font-size: 6rem;
      line-height: 6rem;
    }
    p {
      font-size: 1.8rem;
      font-family: $poppins;
    }
    .app-features {
      i {
        font-size: 3rem;
      }
      .icon-box-1,
      .icon-box-2,
      .icon-box-3 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1.5rem;
      }
      .icon-box-1 {
        background: #ffdee1;
        color: #ff5967;
      }
      .icon-box-2 {
        background: #dad6ff;
        color: #5f50ff;
      }
      .icon-box-3 {
        background: #ffd6c8;
        color: #ff6835;
      }
      .row {
        .col-auto {
          display: flex;
          align-items: center;
        }
        h5 {
          font-size: 2.4rem;
          font-weight: 500;
          font-family: $poppins;
          text-align: left;
        }
      }
    }
  }
}

// ========== //
// get - app //
// ========= //
.get-app {
  background: url("images/bg-foot-2.png");
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
  padding: $section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .box {
    h2 {
      font-family: $roboto;
      font-size: 6rem;
      font-weight: 700;
      color: $color2;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.8rem;
      font-family: $poppins;
      line-height: 3rem;
      color: $color2;
      margin-bottom: 2rem;
    }
    .btn {
      background: #ff8f9f;
      color: $color2;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}
